$contact-color: #D95911;
$button-color: #3364AE;
$gradient-color: linear-gradient(135deg, #050828, #0c1260 60%, #050828);
$text-color: #050828;
$main-color: #fffcff;
$cubic-bezier :cubic-bezier(1, 0, 0, 1);
$space: .25vw;
$space_sm: .55vw;
$bg-color: #edeef1;

@mixin sm {
    @media (min-width: 640px) {
      @content;
    }
  }

  @mixin xl {
    @media (min-width: 1280px) {
      @content;
    }
  }